<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="org.poc.listeners.ExtentTestNGListener"/>
    </listeners>
    <test name="MyTests">
        <classes>
          <class name="org.poc.paypal.PaypalTest"/>
           <class name="org.poc.paypal.ShopAndBuyTests"/>
        </classes>
    </test>
    <test name="Graph Tests">
        <classes>
            <class name="org.poc.graphs.EmployeeGraphTests"/>
            <class name="org.poc.graphs.EmployeeDepartmentGraphTests"/>
            <class name="org.poc.graphs.MonthlyRevenueTests"/>
        </classes>
    </test>
</suite>